.footer {
  background-color: blueviolet;
  padding-block: 2rem;
}

.footer__layout {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.footer__contacts {
  font-style: normal;
  font-weight: var(--light-fw);
  font-size: var(--footer-address-fsz);
}

.footer__copy {
  font-size: var(--footer-copy-fsz);
  color: var(--trt-clr);
}
