.header {
  padding-top: 2rem;
  background-color: rgb(94, 91, 89);
}

.header__layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.main-nav {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex: 1;
}

.main-nav__list {
  display: flex;
  justify-content: center;
  gap: 4rem;
  flex: 1;
}
