html {
  box-sizing: border-box;
  font-size: 100%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: var(--prm-fsz);
  font-weight: var(--regular-fw);
  color: var(--prm-clr);
  background-color: var(--scd-clr);
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* HELPER CLASSES */

.link {
  color: var(--scd-clr);
}

.link:hover {
  color: var(--brand-light-clr);
  font-weight: var(--sb-fw);
}

.primary-accent {
  color: var(--brand-light-clr);
}

.secondary-accent {
  color: var(--brand-dark-clr);
}

.uppercase {
  text-transform: uppercase;
}

.title {
  font-weight: var(--black-fw);
  font-size: var(--title-fsz);
  line-height: var(--title-lh);
}

.chef__name,
.format__title {
  font-weight: var(--sb-fw);
}

.btn {
  width: 100%;
  max-width: 14.8rem;
  padding-block: 0.62rem;

  color: var(--scd-clr);
  font-weight: var(--sb-fw);

  background-color: var(--brand-light-clr);
  border-radius: var(--prm-br);
  border: 2px solid var(--brand-light-clr);

  cursor: pointer;
}

.btn:hover {
  color: var(--brand-dark-clr);
  background-color: transparent;
}
