.hero {
  padding-block: 17rem;
}

.hero__title {
  color: var(--scd-clr);
  font-size: var(--hero-title-fsz);
  font-weight: var(--black-fw);
}

/* ADVANTAGES */

.advantages {
  padding-block: 0;
  background-color: var(--brand-light-clr);
  font-size: var(--scd-fsz);
  font-weight: var(--light-fw);
  color: var(--scd-clr);
}

.advantages__list {
  display: flex;
  justify-content: space-around;
  padding-block: 1rem;
}

/* TRADITIONS */

.traditions {
  padding-top: 6rem;
  display: flex;
  justify-content: center;
}

.traditions__content {
  display: flex;
  flex-direction: column;
  gap: 2.62rem;
}

.traditions__description .primary-accent {
  font-weight: var(--sb-fw);
}

.traditions__img {
  border-radius: 50% 50% 0 0;
}

/* CHEFS */

.chefs__title,
.formats__title {
  margin-bottom: 5rem;
}

.chefs__title .secondary-accent {
  display: block;
}

.chefs__list {
  display: flex;
  justify-content: space-between;
}
.chef__img {
  border-radius: 4px 4px 4px 200px;
  /* box-shadow: -20px 20px 0 2px black; */
  /* border: 1px solid black; */
}

.chef__description {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.chef__name {
  font-size: var(--scd-title-fsz);
  margin-bottom: 1rem;
}

/* FORMATS */

.formats__list {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
}

.format {
  background-color: gray;
  color: var(--scd-clr);
  font-weight: var(--light-fw);
  font-size: var(--card-fsz);
}

.format__title {
  font-size: var(--trt-fsz);
  margin-bottom: 1rem;
}

.format__text {
  line-height: var(--card-lh);
}

/* FORM */

.contact {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.contact__title {
  margin-bottom: 1rem;
}

.contact__action {
  margin-bottom: 2.62rem;
}

/* form */

.contact__form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form__input {
  padding: 1rem 2.62rem;
  color: var(--trt-clr);
  border: var(--input-border);
  border-radius: var(--prm-br);
  background-color: transparent;
}

.form__confidentials {
  font-size: var(--form-btn-politics-fsz);
}

.form__confidentials .form__link {
  text-decoration: underline;
}

.contact__map {
  width: 100%;
  max-width: 600px;
  height: auto;
  border: none;
}
